<div class="container mt-5">
    
    <h2 class="text-primary">Course List</h2>
    
    <table class="table table-striped mt-4">
        <thead>
            <tr>
                <th> Image </th>
                <th> Name </th>
                <th> Price </th>
                <th> Code </th>
                <th> Duration </th>
                <th> Rating </th>
                <th> Release Date </th>
                <th> Options </th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let course of courses">
                <td> {{ course.imageUrl }} </td>
                <td> {{ course.name }} </td>
                <td> {{ course.price }} </td>
                <td> {{ course.code }} </td>
                <td> {{ course.duration }} </td>
                <td> {{ course.rating }} </td>
                <td> {{ course.release_date }} </td>
                <td> <button class="btn btn-primary">Edit</button> </td>
            </tr>
        </tbody>
    </table>
</div>
